# Lab 5 - Amazon Carbon

### In this lab you will gain more experience using pandas to calculate an equation to understand how pCO2 varies from distance to wetlands

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import numpy as np

### 5.1 Calculating PCO2 assuming variable gas transfer

$$
CO_2(x) = C \, e^{\left(-\frac{k}{w \cdot h} \, x\right)} + CO_{2,\text{atmos}}
$$

In [4]:
C = 11580
CO2 = pd.read_csv('CO2.csv')
variable_k = [0.00022,0.00044,0.00068,0.00089]
pC02_a = 420

const_w = 6
const_H = 7

In [5]:
CO2.head()

   Distance       K1       K2       K3       K4
0         0  12000.0  12000.0  12000.0  12000.0
1     10000      NaN      NaN      NaN      NaN
2     20000      NaN      NaN      NaN      NaN
3     30000      NaN      NaN      NaN      NaN
4     40000      NaN      NaN      NaN      NaN

In [ ]:
i = 1
for v in variable_k:
    K_i = #Fill this in...Calculate the CO2
    CO2['K'+str(i)] = K_i#Per Column

    i = i+1

### 5.2 Calculating PCO2 assuming variable water velocity

In [ ]:
variable_w = [2,6,10,14]
const_k = 0.00068
const_H = 7

In [ ]:
i = 1
for v in variable_w:
    W_i = #Fill this in...Calculate the CO2
    CO2['W'+str(i)] = W_i#Per Column

    i = i+1

### 5.3 Calculating PC02 assuming variable water depth

In [ ]:
variable_h = [2,7,12,17]
const_k = 0.00068
const_w = 6

In [ ]:
i = 1
for v in variable_h:
    H_i = #Fill this in...Calculate the CO2
    CO2['H'+str(i)] = H_i#Per Column

    i = i+1

### 5.4 Plotting

#### Question 1: Take a screenshot of each graph and paste into a word document

In [ ]:
#Variable gas transfer

In [ ]:
#Variable water velocity

In [ ]:
#Variable water depth

### Question 2:  Briefly describe the relationships between export of pCO2 from wetlands and gas transfer velocity, water velocity, and water depth. Write your answer (2-3 sentences) in the same document)

### Question 3: Under what conditions is pCO2 advected long distances from the wetland source (e.g., moved a long ways down stream)? Write your answer (2-3 sentences) in the same document)