# Lab 4: Introduction to Pandas and basic Data I/O

In this lab you will get some exposure to working with an excel-like data manipulation package called 'Pandas' 
You will get hands on experience with importing packages. You will also get experience with some basic slices and dices of dataframes and performing some basic dataframe operations. As copy-pasted from Lab 0, this is not a computer science course; you are not expected to become an expert at coding or fully understand the ins and outs of Python. Rather, our goal is to help you develop your numerical and computational skills in a way that is both helpful and applicable for your future work/studies

### 4.1 Importing packages

You will have had some experience with this but you will get some more experience importing a few important packages that will be handy for future use

In [1]:
import numpy as np#this imports the package numpy and the np is a short way to refer to anything from this package

In [2]:
import pandas as pd#this imports the package numpy and the pd is a short way to refer to anything from this package

In [3]:
import matplotlib.pyplot as plt#matplotlib package

## 4.2 Reading in data

You will use the pandas package to read in two csv files that contain attribute data from glaciers in Canada's Arctic North and South taken from the Randolph Glacier Inventory

In [4]:
rgi_03 = pd.read_csv('03.csv')#Reading in the files. Make sure you are in the right directory
rgi_04 = pd.read_csv('04.csv')

In [5]:
rgi_03.head()#Examine the first 5 rows of RGI Region 3

,RGIId,GLIMSId,BgnDate,EndDate,CenLon,CenLat,O1Region,O2Region,Area,Zmin,...,Slope,Aspect,Lmax,Status,Connect,Form,TermType,Surging,Linkages,Name
0,RGI60-03.00001,G291970E81024N,19999999,20039999,-68.0302,81.0237,3,3,5.123,348,...,9.0,146,5401,0,0,0,0,0,9,NaN
1,RGI60-03.00002,G291116E81140N,19999999,20039999,-68.8844,81.1403,3,3,0.569,759,...,19.0,8,1810,0,0,0,0,0,9,NaN
2,RGI60-03.00003,G290896E80922N,19999999,20039999,-69.1043,80.9223,3,3,3.736,536,...,7.4,11,4792,0,0,0,0,0,9,NaN
3,RGI60-03.00004,G290799E80877N,19999999,20039999,-69.2006,80.8772,3,3,2.259,954,...,13.1,305,2974,0,0,0,0,0,9,NaN
4,RGI60-03.00005,G290742E80869N,19999999,20039999,-69.2585,80.8687,3,3,4.057,750,...,10.1,29,3673,0,0,0,0,0,9,NaN

In [7]:
rgi_04.head()#Examine the first 5 rows of RGI Region 4

,RGIId,GLIMSId,BgnDate,EndDate,CenLon,CenLat,O1Region,O2Region,Area,Zmin,...,Slope,Aspect,Lmax,Status,Connect,Form,TermType,Surging,Linkages,Name
0,RGI60-04.00001,G295206E64002N,19990914,-9999999,-64.7945,64.0018,4,7,0.083,310,...,29.4,338,285,0,0,0,0,9,9,NaN
1,RGI60-04.00002,G293275E62326N,19990914,-9999999,-66.7254,62.3261,4,2,1.486,619,...,9.8,247,1799,0,0,1,0,9,9,NaN
2,RGI60-04.00003,G293518E62301N,19990914,-9999999,-66.4820,62.3006,4,8,4.507,252,...,10.8,43,5025,0,0,1,0,9,9,NaN
3,RGI60-04.00004,G293313E62341N,19990914,-9999999,-66.6866,62.3411,4,8,5.310,383,...,16.8,35,2982,0,0,1,0,9,9,NaN
4,RGI60-04.00005,G293664E62159N,19990930,-9999999,-66.3365,62.1589,4,8,2.414,410,...,8.8,160,1855,0,0,0,0,9,9,NaN

In [10]:
rgi_03.tail()#See the last 5 rows

,RGIId,GLIMSId,BgnDate,EndDate,CenLon,CenLat,O1Region,O2Region,Area,Zmin,...,Slope,Aspect,Lmax,Status,Connect,Form,TermType,Surging,Linkages,Name
4551,RGI60-03.04554,G245483E75658N,19990801,-9999999,-114.517,75.6578,3,7,9.680,433,...,10.4,275,5508,0,0,0,0,9,9,NaN
4552,RGI60-03.04555,G245314E75766N,19990824,-9999999,-114.686,75.7660,3,7,0.313,362,...,7.8,121,1322,0,0,0,0,9,9,NaN
4553,RGI60-03.04556,G245285E75811N,19990824,-9999999,-114.715,75.8109,3,7,22.478,255,...,9.9,84,6476,0,0,0,0,9,9,NaN
4554,RGI60-03.04557,G245509E75839N,19990824,-9999999,-114.491,75.8385,3,7,1.611,313,...,10.3,71,2793,0,0,0,0,9,9,NaN
4555,RGI60-03.04558,G244660E75747N,19990801,-9999999,-115.340,75.7470,3,7,1.269,395,...,6.5,111,1545,0,0,0,0,9,9,NaN

You will notice that there are 22 columns but you cannot see all of them. You can execute the following command to show all options

In [11]:

pd.set_option('display.max_columns', None)

In [13]:
rgi_03.head()

,RGIId,GLIMSId,BgnDate,EndDate,CenLon,CenLat,O1Region,O2Region,Area,Zmin,Zmax,Zmed,Slope,Aspect,Lmax,Status,Connect,Form,TermType,Surging,Linkages,Name
0,RGI60-03.00001,G291970E81024N,19999999,20039999,-68.0302,81.0237,3,3,5.123,348,1206,918,9.0,146,5401,0,0,0,0,0,9,NaN
1,RGI60-03.00002,G291116E81140N,19999999,20039999,-68.8844,81.1403,3,3,0.569,759,1241,1028,19.0,8,1810,0,0,0,0,0,9,NaN
2,RGI60-03.00003,G290896E80922N,19999999,20039999,-69.1043,80.9223,3,3,3.736,536,1024,889,7.4,11,4792,0,0,0,0,0,9,NaN
3,RGI60-03.00004,G290799E80877N,19999999,20039999,-69.2006,80.8772,3,3,2.259,954,1389,1135,13.1,305,2974,0,0,0,0,0,9,NaN
4,RGI60-03.00005,G290742E80869N,19999999,20039999,-69.2585,80.8687,3,3,4.057,750,1372,1109,10.1,29,3673,0,0,0,0,0,9,NaN

In [14]:
rgi_03.head(10)#show 10 rows

,RGIId,GLIMSId,BgnDate,EndDate,CenLon,CenLat,O1Region,O2Region,Area,Zmin,Zmax,Zmed,Slope,Aspect,Lmax,Status,Connect,Form,TermType,Surging,Linkages,Name
0,RGI60-03.00001,G291970E81024N,19999999,20039999,-68.0302,81.0237,3,3,5.123,348,1206,918,9.0,146,5401,0,0,0,0,0,9,NaN
1,RGI60-03.00002,G291116E81140N,19999999,20039999,-68.8844,81.1403,3,3,0.569,759,1241,1028,19.0,8,1810,0,0,0,0,0,9,NaN
2,RGI60-03.00003,G290896E80922N,19999999,20039999,-69.1043,80.9223,3,3,3.736,536,1024,889,7.4,11,4792,0,0,0,0,0,9,NaN
3,RGI60-03.00004,G290799E80877N,19999999,20039999,-69.2006,80.8772,3,3,2.259,954,1389,1135,13.1,305,2974,0,0,0,0,0,9,NaN
4,RGI60-03.00005,G290742E80869N,19999999,20039999,-69.2585,80.8687,3,3,4.057,750,1372,1109,10.1,29,3673,0,0,0,0,0,9,NaN
5,RGI60-03.00006,G290813E80859N,19999999,20039999,-69.1875,80.8591,3,3,0.419,814,1113,990,13.6,116,1493,0,0,0,0,0,9,NaN
6,RGI60-03.00007,G290676E80864N,19999999,20039999,-69.3243,80.8640,3,3,3.763,1060,1406,1243,12.0,55,2437,0,0,0,0,0,9,NaN
7,RGI60-03.00008,G290636E80883N,19999999,20039999,-69.3642,80.8830,3,3,1.268,848,1312,1073,17.4,18,1602,0,0,0,0,0,9,NaN
8,RGI60-03.00009,G290593E80875N,19999999,20039999,-69.4072,80.8750,3,3,0.713,879,1266,1087,18.2,313,1309,0,0,0,0,0,9,NaN
9,RGI60-03.00010,G290585E80889N,19999999,20039999,-69.4148,80.8888,3,3,0.476,867,1255,1088,19.5,5,1150,0,0,0,0,0,9,NaN

## 4.3 Basic Dataframe Operations

This section will go through combining dataframes and basic slices and dices.

In [15]:
df_canada = pd.concat([rgi_03,rgi_04])#stack the two dataframes on top of each other

#### This sub-section goes over subsetting by index and by location (iloc/loc)

In [19]:
df_canada_sub1 = df_canada.iloc[0:5]#Get the first 5 rows and put into a new dataframe
df_canada_sub1.head(14)

,RGIId,GLIMSId,BgnDate,EndDate,CenLon,CenLat,O1Region,O2Region,Area,Zmin,Zmax,Zmed,Slope,Aspect,Lmax,Status,Connect,Form,TermType,Surging,Linkages,Name
0,RGI60-03.00001,G291970E81024N,19999999,20039999,-68.0302,81.0237,3,3,5.123,348,1206,918,9.0,146,5401,0,0,0,0,0,9,NaN
1,RGI60-03.00002,G291116E81140N,19999999,20039999,-68.8844,81.1403,3,3,0.569,759,1241,1028,19.0,8,1810,0,0,0,0,0,9,NaN
2,RGI60-03.00003,G290896E80922N,19999999,20039999,-69.1043,80.9223,3,3,3.736,536,1024,889,7.4,11,4792,0,0,0,0,0,9,NaN
3,RGI60-03.00004,G290799E80877N,19999999,20039999,-69.2006,80.8772,3,3,2.259,954,1389,1135,13.1,305,2974,0,0,0,0,0,9,NaN
4,RGI60-03.00005,G290742E80869N,19999999,20039999,-69.2585,80.8687,3,3,4.057,750,1372,1109,10.1,29,3673,0,0,0,0,0,9,NaN

In [20]:
df_canada_sub1 = df_canada.iloc[20:25]#Get the rows 20-25 and put into a new dataframe
df_canada_sub1.head(14)

,RGIId,GLIMSId,BgnDate,EndDate,CenLon,CenLat,O1Region,O2Region,Area,Zmin,Zmax,Zmed,Slope,Aspect,Lmax,Status,Connect,Form,TermType,Surging,Linkages,Name
20,RGI60-03.00021,G289705E80985N,19999999,20039999,-70.2948,80.9847,3,3,6.839,404,1367,1163,13.5,312,4472,0,0,0,0,0,9,NaN
21,RGI60-03.00022,G289808E80970N,19999999,20039999,-70.1924,80.9700,3,3,1.095,1020,1240,1068,11.9,360,1419,0,0,0,0,0,9,NaN
22,RGI60-03.00023,G289640E80945N,19999999,20039999,-70.3599,80.9454,3,3,6.957,636,1276,903,10.0,293,3656,0,0,0,0,0,9,NaN
23,RGI60-03.00024,G291303E81139N,19999999,20039999,-68.6974,81.1391,3,3,0.781,790,1295,1042,22.3,8,1415,0,0,0,0,0,9,NaN
24,RGI60-03.00025,G289644E80921N,19999999,20039999,-70.3556,80.9207,3,3,2.215,772,1544,1237,19.6,323,2556,0,0,0,0,0,9,NaN

In [25]:
df_canada_sub3 = df_canada.loc[:, ['RGIId']]## Selects the RGIId column and puts in new dataframe. The colon gets all rows

In [28]:
df_canada_sub4 = df_canada.loc[:, ['RGIId','GLIMSId']]## Selects the RGIId column and GLIMSID column and puts in new dataframe
df_canada_sub4.head()

            RGIId         GLIMSId
0  RGI60-03.00001  G291970E81024N
1  RGI60-03.00002  G291116E81140N
2  RGI60-03.00003  G290896E80922N
3  RGI60-03.00004  G290799E80877N
4  RGI60-03.00005  G290742E80869N

In [36]:
df_canada_sub5 = df_canada.loc[[0, 2]]
df_canada_sub5.head()### What is going on here??? Why are there 4 rows instead of 2?

,RGIId,GLIMSId,BgnDate,EndDate,CenLon,CenLat,O1Region,O2Region,Area,Zmin,Zmax,Zmed,Slope,Aspect,Lmax,Status,Connect,Form,TermType,Surging,Linkages,Name
0,RGI60-03.00001,G291970E81024N,19999999,20039999,-68.0302,81.0237,3,3,5.123,348,1206,918,9.0,146,5401,0,0,0,0,0,9,NaN
0,RGI60-04.00001,G295206E64002N,19990914,-9999999,-64.7945,64.0018,4,7,0.083,310,454,402,29.4,338,285,0,0,0,0,9,9,NaN
2,RGI60-03.00003,G290896E80922N,19999999,20039999,-69.1043,80.9223,3,3,3.736,536,1024,889,7.4,11,4792,0,0,0,0,0,9,NaN
2,RGI60-04.00003,G293518E62301N,19990914,-9999999,-66.4820,62.3006,4,8,4.507,252,807,645,10.8,43,5025,0,0,1,0,9,9,NaN

In [37]:
df_canada = df_canada.reset_index()

In [38]:
df_canada_sub5 = df_canada.loc[[0,2]]
df_canada_sub5.head()

,index,RGIId,GLIMSId,BgnDate,EndDate,CenLon,CenLat,O1Region,O2Region,Area,Zmin,Zmax,Zmed,Slope,Aspect,Lmax,Status,Connect,Form,TermType,Surging,Linkages,Name
0,0,RGI60-03.00001,G291970E81024N,19999999,20039999,-68.0302,81.0237,3,3,5.123,348,1206,918,9.0,146,5401,0,0,0,0,0,9,NaN
2,2,RGI60-03.00003,G290896E80922N,19999999,20039999,-69.1043,80.9223,3,3,3.736,536,1024,889,7.4,11,4792,0,0,0,0,0,9,NaN

In [40]:
df_canada_sub6 = df_canada.loc[[0,2],["Zmin","Zmed","Zmax"]]#Slice by row value and column value
df_canada_sub6.head()

   Zmin  Zmed  Zmax
0   348   918  1206
2   536   889  1024

### Selecting by values

In [43]:
df_canada_sub7 = df_canada[df_canada['Zmin'] < 600]#Select all glaciers with minimum elevation less than 600m
df_canada_sub7.head()

,index,RGIId,GLIMSId,BgnDate,EndDate,CenLon,CenLat,O1Region,O2Region,Area,Zmin,Zmax,Zmed,Slope,Aspect,Lmax,Status,Connect,Form,TermType,Surging,Linkages,Name
0,0,RGI60-03.00001,G291970E81024N,19999999,20039999,-68.0302,81.0237,3,3,5.123,348,1206,918,9.0,146,5401,0,0,0,0,0,9,NaN
2,2,RGI60-03.00003,G290896E80922N,19999999,20039999,-69.1043,80.9223,3,3,3.736,536,1024,889,7.4,11,4792,0,0,0,0,0,9,NaN
10,10,RGI60-03.00011,G290217E80979N,19999999,20039999,-69.7834,80.9788,3,3,25.559,497,1458,1159,8.3,347,12390,0,0,1,0,0,9,NaN
13,13,RGI60-03.00014,G289934E80936N,19999999,20039999,-70.0664,80.9364,3,3,85.034,595,1559,1301,7.4,348,14350,0,0,1,0,0,9,NaN
20,20,RGI60-03.00021,G289705E80985N,19999999,20039999,-70.2948,80.9847,3,3,6.839,404,1367,1163,13.5,312,4472,0,0,0,0,0,9,NaN

In [44]:
df_canada_sub8 = df_canada[df_canada['Zmin'] > 1000]#Select all glaciers with minimum elevation greater than 1000m
df_canada_sub8.head()

,index,RGIId,GLIMSId,BgnDate,EndDate,CenLon,CenLat,O1Region,O2Region,Area,Zmin,Zmax,Zmed,Slope,Aspect,Lmax,Status,Connect,Form,TermType,Surging,Linkages,Name
6,6,RGI60-03.00007,G290676E80864N,19999999,20039999,-69.3243,80.8640,3,3,3.763,1060,1406,1243,12.0,55,2437,0,0,0,0,0,9,NaN
14,14,RGI60-03.00015,G290334E80937N,19999999,20039999,-69.6664,80.9374,3,3,0.654,1172,1417,1365,11.9,154,562,0,0,0,0,0,9,NaN
18,18,RGI60-03.00019,G290221E80894N,19999999,20039999,-69.7787,80.8941,3,3,0.375,1008,1257,1115,17.9,75,707,0,0,0,0,0,9,NaN
21,21,RGI60-03.00022,G289808E80970N,19999999,20039999,-70.1924,80.9700,3,3,1.095,1020,1240,1068,11.9,360,1419,0,0,0,0,0,9,NaN
48,48,RGI60-03.00049,G289634E80600N,19999999,20039999,-70.3657,80.5999,3,3,2.411,1015,1498,1181,17.5,325,2249,0,0,0,0,0,9,NaN

In [45]:
df_canada_sub9 = df_canada[df_canada['Zmin'] == 1000]#Select all glaciers with minimum elevation exactly equal to 1000m
df_canada_sub9.head()

,index,RGIId,GLIMSId,BgnDate,EndDate,CenLon,CenLat,O1Region,O2Region,Area,Zmin,Zmax,Zmed,Slope,Aspect,Lmax,Status,Connect,Form,TermType,Surging,Linkages,Name
2680,2680,RGI60-03.02682,G288604E82061N,19999999,20039999,-71.3964,82.0608,3,1,4.436,1000,1711,1285,17.0,231,2201,0,0,1,0,0,9,NaN
2748,2748,RGI60-03.02750,G280092E82497N,19999999,20039999,-79.9082,82.4965,3,1,0.523,1000,1269,1091,26.7,36,593,0,0,0,0,0,9,NaN
2855,2855,RGI60-03.02857,G281808E82466N,19999999,20039999,-78.1919,82.4659,3,1,0.235,1000,1061,1032,12.9,46,472,0,0,0,0,0,9,NaN
6570,2014,RGI60-04.02022,G295230E66370N,20000813,-9999999,-64.7701,66.3702,4,7,1.882,1000,1513,1375,24.2,272,1330,0,0,0,0,9,9,NaN
9521,4965,RGI60-04.04973,G283538E72428N,20000810,-9999999,-76.4625,72.4275,4,4,0.876,1000,1261,1184,20.1,139,578,0,0,0,0,9,9,NaN

You can make multiple slices too using conditional statements. & means and and | means or

In [50]:
df_canada_sub10 = df_canada[(df_canada['Zmin'] == 1000) & (df_canada['Area'] < 2)]#Select all glaciers with minimum elevation exactly equal to 1000m
df_canada_sub10.head()

,index,RGIId,GLIMSId,BgnDate,EndDate,CenLon,CenLat,O1Region,O2Region,Area,Zmin,Zmax,Zmed,Slope,Aspect,Lmax,Status,Connect,Form,TermType,Surging,Linkages,Name
2748,2748,RGI60-03.02750,G280092E82497N,19999999,20039999,-79.9082,82.4965,3,1,0.523,1000,1269,1091,26.7,36,593,0,0,0,0,0,9,NaN
2855,2855,RGI60-03.02857,G281808E82466N,19999999,20039999,-78.1919,82.4659,3,1,0.235,1000,1061,1032,12.9,46,472,0,0,0,0,0,9,NaN
6570,2014,RGI60-04.02022,G295230E66370N,20000813,-9999999,-64.7701,66.3702,4,7,1.882,1000,1513,1375,24.2,272,1330,0,0,0,0,9,9,NaN
9521,4965,RGI60-04.04973,G283538E72428N,20000810,-9999999,-76.4625,72.4275,4,4,0.876,1000,1261,1184,20.1,139,578,0,0,0,0,9,9,NaN
9661,5105,RGI60-04.05113,G277042E73232N,19829999,-9999999,-82.9576,73.2320,4,3,0.654,1000,1174,1125,10.2,182,1091,0,0,0,0,9,9,NaN

### 4.4 Writing to a file

You can write your csv to a flat file using to_csv. This is helpful for doing operations using python then exporting it to a file

In [51]:
df_canada_sub10.to_csv('df_canada_sub.csv',index = False)#Index=False makes sure there isn't a new index column

### 4.5 Exercise

In [62]:
#In the first 1000 entries, create a new data frame of surging glaciers that are at sea level. Output this to a csv file
#df_sub11 = df_canada.iloc[0:1000]
df_sub11 = df_canada[(df_canada['Surging'] == 1) & (df_canada['Zmin'] == 0)]

In [64]:
df_sub11.head()

,index,RGIId,GLIMSId,BgnDate,EndDate,CenLon,CenLat,O1Region,O2Region,Area,Zmin,Zmax,Zmed,Slope,Aspect,Lmax,Status,Connect,Form,TermType,Surging,Linkages,Name
107,107,RGI60-03.00108,G285207E80719N,19999999,20039999,-74.7935,80.7189,3,3,490.205,0,2024,1582,6.2,313,64821,0,0,1,1,1,9,Lake Tuborg
282,282,RGI60-03.00283,G286085E80203N,19999999,20039999,-73.9149,80.2029,3,3,668.962,0,2023,1239,6.9,93,73916,0,0,0,1,1,9,John Richardson Bay South
418,418,RGI60-03.00419,G281302E79451N,19999999,20039999,-78.6982,79.4507,3,3,102.942,0,1474,856,6.3,105,32296,0,0,1,1,1,9,Benedict
1553,1553,RGI60-03.01555,G279901E76588N,19999999,20039999,-80.0990,76.5880,3,5,498.215,0,1363,797,6.3,253,42559,0,0,0,1,1,9,Jakeman
1588,1588,RGI60-03.01590,G279366E76286N,19999999,20039999,-80.6340,76.2860,3,5,73.150,0,1043,689,9.3,197,21717,0,0,1,1,1,9,Wilcox